<!DOCTYPE html>
<html lang="en">
<head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/css/bootstrap.min.css"
            crossorigin="anonymous">

		    <!-- JS -->
        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/jquery/latest/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/momentjs/latest/moment.min.js"></script>
        <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>

        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"
            crossorigin="anonymous"></script>
         <title>STUDYGRAM</title>
         <style>
            .card-text {
                text-align: center;
            } 
            .wrap {
                width: 900px;
                margin: auto;
            }
            .card-row {
                display: flex;
                flex-wrap: wrap;
                justify-content: space-between;
            }
            .card {
                flex-basis: calc(33.33% - 10px); 
                margin-bottom: 20px; 
            }
         </style>
         <script>
            $(document).ready(function () {
                $("#cards-box").html("");
                showStudy();
            });

            function addStudy(){
                let studyTitle = $("#studyTitle").val();
                let studyPeriod = $("#studyPeriod").val();
                let memo = $("#memo").val();
                let give_token = localStorage.getItem("AccessToken");

                $.ajax({
                    type: "POST",
                    url: "/study/add",
                    headers: { "Authorization": "Bearer " + give_token },
                    data: {study_title: studyTitle, description: memo, date: studyPeriod},
                    success: function(response){
                        if (response["result"] == "success"){
                            alert("생성 완료!");
                            window.location.reload();
                        }else{
                            alert("ERROR!")
                        }
                    }
                })

            }

            function showStudy(){
                $.ajax({
                    type: "GET",
                    url: "/study/main",
                    data: {},
                    success: function(response){
                        let data = response["data"]
                        console.log(data);
                        for (let i = 0; i < data.length; i++){
                            makeCard(data[i]["study_number"], data[i]["study_title"], data[i]["study_date"], data[i]["description"])
                        }
                    }
                })
            }

            function makeCard(studyNum, studyTitle, studyPeriod, memo) {
                let tempHtml = 
                  `<div class="card">
                    <div class="card-header">
                      ${studyPeriod}
                    </div>
                    <div class="card-body">
                      <h5 class="card-title">${studyTitle}</h5>
                      <p class="study-card-text">${memo}</p>
                      <button class="btn btn-info btn-lg btn-block" onclick="sendToken(${studyNum})">Let's Go!</button>
                    </div>
                  </div>`;
                $("#cards-box").append(tempHtml);
            }

            function sendToken(studyNum){
                let studynum = studyNum
                let token = localStorage.getItem("AccessToken");
                $.ajax({
                    type : "GET",
                    url : `/study/${studynum}`,
                    headers: { "Authorization": "Bearer " + token },
                    success: function(response) {
                    window.location.href = `/study/${studyNum}`;
                },
                error: function(xhr, status, error) {
                    console.error("Error:", xhr.statusText);
                }

                })
            }
         </script>
         <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.0/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
</head>
<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
    <div class="wrap">
        <div class="jumbotron">
            <h1 class="display-4">STUDYGRAM</h1>
            <hr class="my-4">
            <p class="lead">
                <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
                    스터디 생성
                </button>
            </p>
        </div>
        <div id="cards-box" class="card-row"></div>
    </div>
    <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h3 class="modal-title">MAKE STUDY</h3>
                <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body" style="margin-top: 15px;"> 
                  <div class="container">
                      <form>
                          <div class="form-group">
                              <label for="studyTitle">스터디 제목</label>
                              <input type="text" class="form-control" id="studyTitle" placeholder="스터디 제목을 입력하세요">
                          </div>

                          <div class="form-group">
                              <label for="studyPeriod">스터디 기간</label>
                              <input type="text" class="form-control" id="studyPeriod" placeholder="공부할 기간을 입력하세요">
                          </div>
                          <!-- JavaScript to initialize the Date Range Picker -->
                          <script>
                            $(function() {
                                $('#studyPeriod').daterangepicker({
                                    opens: 'left', // 달력이 나타나는 방향
                                    autoUpdateInput: false, // 기본값 false로 설정하여 자동으로 입력 필드를 업데이트하지 않도록 설정
                                    locale: {
                                        format: 'YYYY-MM-DD', // 선택한 날짜의 표시 형식
                                        cancelLabel: 'Clear' // 취소 레이블
                                    }
                                });

                                // 날짜가 선택되면 입력 필드를 업데이트
                                $('#studyPeriod').on('apply.daterangepicker', function(ev, picker) {
                                    $(this).val(picker.startDate.format('YYYY.MM.DD') + ' - ' + picker.endDate.format('YYYY.MM.DD'));
                                });

                                // 취소 또는 날짜를 지우면 입력 필드를 비움
                                $('#studyPeriod').on('cancel.daterangepicker', function(ev, picker) {
                                    $(this).val('');
                                });
                            });
                          </script>
                          <div class="form-group">
                              <label for="memo">메모</label>
                              <input type="text" class="form-control" id="memo" placeholder="메모를 입력하세요">
                          </div>
                      </form>
                  </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" onclick="addStudy()">등록</button>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
