<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <!-- jQuery 를 포함합니다. -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script>
    function onclickEvent() {
    let give_token = localStorage.getItem("AccessToken");
    $.ajax({
        type: "GET",
        url: "/tt",
        headers: { "Authorization": "Bearer " + give_token }, // 토큰을 포함하는 헤더 설정
        data: { param: "test" },
        success: function (response) {
            alert(response); // 성공 시 처리
        },
        error: function (xhr, status, error) {
            alert(xhr.responseText); // 에러 시 처리
        }
    });
}

  </script>
  <body>
    <div>
      <button onclick="onclickEvent()">Test ajax 요청</button>
    </div>
    <div></div>
  </body>
</html>
